node_modules/
lib/
.vscode
.idea/
.nyc_output/
coverage/
packages/cisco-sdk-node/src/sami_tests/
examples/my_examples/
.DS_Store
lerna-debug.log

# lock files
package-lock.json
packages/**/package-lock.json
